h1{
    color: #29B1DD;
}

.ms_container_select{
    background-color: #29B1DD;
    color: white;
}

.ms_container_icon{
    background-color: #DDDDDD;
}

.ms_bg_icon{
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.ms_icon_animal{
    color: #0511F2;
}

.ms_icon_vegetable{
    color: #FFA500;
}

.ms_icon_user{
    color: #8A038C;
}